---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
const yearsOfExp = new Date().getFullYear() - 2019;
---

<html lang="en">
  <head>
    <MainHead
      title="Patrick Moreno"
      description="What's Patrick been up to 🤔"
    />
    <style scoped>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
      }

      .heroImg img {
        width: 100%;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }
      .heading-about {
        margin-left: 2rem;
      }
      .skills-table {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      }
      .skills-table h3 {
        margin-left: 3rem;
      }
      .skills-second-col {
        width: 60%;
      }
      .work-exp-date {
        line-height: 0;
        margin-bottom: 2rem;
        color: var(--atom-string);
        margin-left: 3rem;
      }
      @media (max-width: 640px) {
        .skills-second-col {
          width: 100%;
        }
        .skills-table h3 {
          margin-left: 0;
        }
        .work-exp-date {
          margin-left: 0;
        }
      }
      .about-header-3 {
        margin-bottom: 0.25rem 0 !important;
      }
      h3 {
        color: var(--atom-element);
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1 class="heading-about">About Me</h1>
      <div class="bio">
        <p>
          I started my journey quite early attempting to understand big books on
          HTML from the library in elementary. In highschool I was manipulating
          webpages and graphics on social sites for friends and myself. After
          trying out some Java and C++ courses in my under grad I changed my
          studies over to software engineering. Completed a diploma in Digital
          Design & Development from British Columbia Institute of Technology
          with distinction. Now I am out getting field tested and blazing my way
          through the jungle that is tech!
        </p>

        <!-- <input type="text" placeholder="Search Skills"/> -->
        <h2>Skills</h2>
        <div class="skills-table">
          <h3 class="skills-first-col">Proficient</h3>
          <div class="skills-second-col">
            HTML5, CSS3, Javascript ES6+, Vue, Nodejs, Express, Git, REST, JSON,
            CouchDB (NoSQL), PouchDB, Linux, PM2, Slack
          </div>
        </div>
        <div class="skills-table">
          <h3 class="skills-first-col">Experienced</h3>
          <div class="skills-second-col">
            Electron, React, AWS(S3), Bootstrap, Illustrator, Photoshop, UI/UX
            Design, PuTTY, SSH, SSL, Wordpress, Postman, Nodemailer, Trello,
            Digital Ocean
          </div>
        </div>
        <div class="skills-table">
          <h3 class="skills-first-col">Knowledgable</h3>
          <div class="skills-second-col">
            Bash & Batch scripting, Cron, MongoDB, Figma, Invision, Laravel,
            PHP, Cypress, Jest, Nginx, MySQL, Stripe
          </div>
        </div>

        <h2>Work Experience - {yearsOfExp} years</h2>
        <div class="skills-table">
          <div>
            <h3 class="about-header-3">Vista Projects</h3>
            <div class="work-exp-date">2023 - Present</div>
          </div>
          <div class="skills-second-col">
            <li>
              Working on Current SCM, the company's procurement SaaS product,
              primarily doing vue 2 to vue 3 migration.
            </li>
          </div>
        </div>
        <div class="skills-table">
          <div>
            <h3 class="about-header-3">TMMedia</h3>
            <div class="work-exp-date">2019 - 2023</div>
          </div>
          <div class="skills-second-col">
            <li>
              Developed and maintained dance competition registration and
              management web application using Vue, Nodejs and CouchDB
            </li>
            <li>
              Improved internal tools for video, photo production using Laravel,
              Vue and Electron
            </li>
            <li>
              Monitored, and fixed issues with servers serving company websites,
              and web apps, using systemctl, nginx, PM2 and other utilities
            </li>
            <li>
              Developed kiosk software and TV slideshow web app using Electron
              and PHP
            </li>
            <li>Interviewed, and guided design intern</li>
            <li>
              Designed low and high fidelity mockups using, Illustrator and
              Figma
            </li>
          </div>
        </div>
        <div class="skills-table">
          <div>
            <h3 class="about-header-3">BCPVA</h3>
            <div class="work-exp-date">2019 (2 Months)</div>
          </div>
          <div class="skills-second-col">
            <li>Designed mockups of new website with Illustrator</li>
            <li>Created sitemap, styleguides, iconography and documentation</li>
            <li>
              Developed website with wordpress using custom functions and CSS
            </li>
          </div>
        </div>
        <div class="skills-table">
          <div>
            <h3 class="about-header-3">ACL/Galvanize</h3>
            <div class="work-exp-date">2019 (2 Months)</div>
          </div>
          <div class="skills-second-col">
            <li>
              Tested components with Jest/React Testing Library and Cypress.io
            </li>
            <li>Assited with component migration to a new UI Library</li>
            <li>Documented react components</li>
            <li>Collaborated with designers to setup new tokens</li>
            <li>Created tickets with Jira</li>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
