---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead
			title="Patrick Moreno"
			description="What's Patrick been up to 🤔"
		/>
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="heading-about">About Me</h1>
			<div class="bio wrapper">
				<p>
					I started my journey quite early on attempting to understand big books on HTML from the library. In highschool I was manipulating webpages and graphics on social sites for friends and myself. After trying out some Java and C++ courses in my under grad I changed my studies over to software engineering. Completed a diploma in Digital Design & Development from British Columbia Institute of Technology with disstinction.
				</p>
				<h3>Skills</h3>
				<p>
					HTML5, CSS3, Javascript, Vue, Nodejs, CouchDB (NoSQL)
				</p>
				<h3>Experience</h3>
				<p>
					Currently working at TMMedia, prior to this I was working for BCPVA supervised by TMMedia. Before that and after during my studies I did a two month internship at ACL/Galvanize in Vancouver.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>

<style>
	.heading-about {
		margin-left: 2rem;
	}
</style>
