<nav>
	{ Astro.url.pathname !== '/' && 
		<a class="link" href="/">
			<div class="monogram">PM</div>
		</a>
	}
	<a class="link" href="/about/"> About</a>	
	<a class="link" href="/projects/"> Portfolio</a>
	<div class="email-link-container" id="email-link-container">
		<a class="link" id="email-nav-link" href="mailto:patrickmoreno444@gmail.com">Email</a>
	</div>
	<!-- <a class="link" href="/posts/"> Posts</a> -->
</nav>

<script>
	const emailNavLink = document.getElementById('email-nav-link')
	const emailLinkContainer = document.getElementById('email-link-container')

	emailNavLink?.addEventListener('mouseenter', () => {
		emailNavLink.innerText = 'patrickmoreno444@gmail.com'
		emailNavLink.style.color = '#000'
		if (emailLinkContainer) {
			emailLinkContainer.style.backgroundColor = `var(--atom-string)`
		}
	})
	emailNavLink?.addEventListener('mouseleave', () => {
		emailNavLink.style.backgroundColor = ''
		emailNavLink.innerText = 'Email'
		emailNavLink.style.color = '#98c379'
		if (emailLinkContainer) {
			emailLinkContainer.style.backgroundColor = ''
		}
	})

</script>

<style>
	.email-link-container {
		padding: 2px 10px;
		border: 1px solid;
		border-color: var(--atom-number);
		border-radius: 5px;
	}
	nav {
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 1rem 1rem 1rem 0;
		justify-content: start;
		margin-left: 4rem;
	}

	@media (max-width: 750px) {
		nav {
			width:100vw;
			justify-content: center;
			margin-left:0;
		}
	}

	.link {
		color: var(--atom-string);
		display: block;
		text-decoration: none;
		font-size: var(--f-d1);
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}

	@media (max-width: 750px) {
		.link {
			font-size: var(--f-u1)
		}
	}

	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
		color: var(--c-white);
		font-weight: 900;
		letter-spacing: -0.125rem;
		border: 3px solid currentColor;
		border-radius: 50%;
	}

	.socials {
		display: flex;
		gap: 0.75em;
		margin-left: auto;
	}

	.social {
		display: block;
	}

	.socialIcon {
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		fill: var(--t-subdue);
		transition: fill linear 150ms;
	}

	.socialIcon:hover {
		fill: var(--t-active);
	}
</style>
